/* Для всего документа */
body { 
    background: white; /* цвет фона белый*/
    margin: 0; /*внешний отступ ко всем 4 сторонам*/
    display: grid; /*таблица из одной ячейки, в которой находится велосипедист*/
    place-content: center; /* выравнивает по центру наши таблицу*/
    height: 100vh; /* высота 100% от экрана на котором мы смотрим*/
  }

  /* Текст */
  P{
    font-family: "Poppins"; /* шрифт*/
    color: rgb(11, 11, 11); /* цвет текста*/
    font-size: 20px; /*размер*/
    text-align: center; /*расположение*/
  }
  

  /*велосипедист*/
  .container {
    position: relative; /* штучка, которая позволяет двигать элемент*/
    width: 60%; /*ширина 60% от всего экрана*/
    margin: 0 auto; /* внишний отступ сверху 0, справа и слева делает автоматически одинаковые отступы, расчитывается браузером*/
    padding: 2em; /*внутренний отступ ля всех сторон на 2 размера шрифта*/
  }
  
  /*формат изображения*/
  .svg {
    width: 200px; /*ширина 200 пикселей*/
    position: absolute; /*позволяет сдвигать элементы*/
    top: -40px; /*отступ сверху*/
    left: -30px; /*отступ слева*/
    pointer-events: none; /*элемент не реагирует на мышь*/
  }
  
/*   
  .hide {
    display: none;
  } */
  