html {    /* стили для всего html документа */
  width: 100%;      /* ширина */
  height: 100%;     /* высота */
}

body {                      /* стили для body */
  width: 100%;              /* ширина */
  height: 100%;             /* высота */
  display: flex;            /* подключение flex-боксов */
  align-items: center;      /* выравнивание по оси Y по центру экрана */
  justify-content: center;  /* выравнивание по оси X по центру экрана */
  background: #1C1D24;    /* цвет фона */
}
body:after {                /* стили, которые можно добавить после элемента body */
  position: absolute;       /* с помощью этого можем позиционировать элемент на странице */
  left: 50%;                /* отступ слева */
  bottom: 1em;              /* отступ снизу */
  transform: translateX(-50%);                  /* перемещение по оси X */
  content: "Press arrow keys to start Snake";   /* вставка строки в HTML документ */
  color: white;                               /* цвет текста белый */
  opacity: 0.4;                                 /* непрозрачность */
}

canvas {                  /* стили для холста */
  border: 5px solid #272e38;                  /* рамка шириной 5 пикселей и темным цветом */
}