body {                                  /* стили для body */
  font-family: "Lexend Deca", serif;    /* подключение шрифта */
  background-color: #232F34;          /* цвет фона */
  color: rgba(255, 255, 255, 0.1);    /* цвет текста */
  margin: 0;                            /* внешний отступ со всех сторон равен 0 */
  font-size: 24px;                      /* размер текста 24 пикселей */
  overflow: hidden;                     /* если контейнер переполняется, то содержимое обрезается */
}
body > div {                            /* стили для всех div, родителем которых является body (для всех столбцов вцелом) */
  position: fixed;                      /* с помощью этого можем позиционировать элемент на странице */
  top: 50%;                             /* отступ сверху 50% */
  left: 50%;                            /* отступ слева 50% */
  transform: translate(-50%, -50%);     /* перемещение элемента в центр экрана */
  white-space: nowrap;                  /* сворачивает пробелы и не переносит содержимое элемента на след. строку */
}
body > div > div {                      /* стили для всех div, родителем которых является div (для содержимого каждого столбца) */
  display: inline-flex;                 /* подключение flex-боксов */
  flex-direction: column-reverse;       /* направление флексов в форме столбца наоборот (снизу вверх) */
}
body > div > div:not(:last-child) {     /* стили для всех элементов, которые не являются последними дочерними элементами родителя div (для содержимого столбцов) */
  margin-right: 1em;                    /* внешний отступ справа. 1em - текущий размер шрифта (т.е. 24 пикселя) */
}
body > div > div:not(:last-child):nth-child(2n) {   /* стили для всех элементов, которые являются вторыми дочерними элементами родителя div,
                                                       и не являются последними дочерними элементами родителя div (для содержимого столбцов) */
  margin-right: 2em;                    /* внешний отступ справа. 2em - размер шрифта, умноженный на 2 (т.е. 48 пикселей) */
  position: relative;                   /* с помощью этого можем позиционировать элемент на странице */
}
body > div > div:not(:last-child):nth-child(2n):after {   /* стили для всех элементов, которые являются вторыми дочерними элементами родителя div,
                                                            не являются последними дочерними элементами родителя div, для них доступна вставка после (для содержимого столбцов) */
  content: ":";                         /* задает альтернативный текст (вставляем двоеточия между часами, минутами и секундами) */
  font-size: 2em;                       /* размер шрифта в 2 раза больше предыдущего размера шрифта (т.е. 48 пикселей)*/
  color: white;                       /* цвет текста - белый */
  position: absolute;                   /* с помощью этого можем позиционировать элемент на странице */
  right: -0.675em;                      /* отступ справа */
  bottom: -0.2em;                       /* отступ снизу */
}
body > div > div > div {                /* стили для всех div, родителем которых является div (для цифр каждого стобца) */
  transform: rotate(-90deg);            /* поворот на 90 градусов */
  transition: transform 200ms ease-in-out, color 350ms ease-out;    /* анимация плавного поворота длительностью 200 мс; и еще анимация плавной смены цвета длительностью 350 мс */
}
body > div > div > div.highlight {      /* стили для всех div с классом highlight. Класс hightlight создается в JavaScript*/
  transform: rotate(0deg) scale(2);     /* поворот на 0 градусов и масштабирование = 2 */
  color: white;                       /* цвет текста - белый */
}
body > div > div > div.highlight ~ div {                 /* стили для всех div, которым предшествует div.highlight */
  transform: rotate(-90deg) translate3D(0.4em, 0, 0);    /* поворот на 90 градусов; перемещение элемента в трехмерном пространстве, 1 параметр - ось X, 2 параметр - Y, 3 параметр - Z*/
}