@import url("https://fonts.googleapis.com/css?family=Comfortaa");     /* импорт(ссылка на скачивание) шрифта. Браузер автоматически его скачивает и устанавливает */

/* стили для html и body */
html, body {          
  margin: 0;          /* внешний отступ со всех сторон равен 0 */
  overflow: hidden;   /* если наша страница переполняется, то содержимое обрезается */
  height: 100%;       /* высота 100% */
  width: 100%;        /* ширина 100% */
  position: relative;   /* позволяет элементу смещаться. Смещение не влияет на положение других элементов*/
  font-family: "Comfortaa", cursive;  /* выбираем шрифт и делаем его курсивным */
}

/* стили для контейнера */
#container {
  width: 100%;    /* ширина 100% */
  height: 100%;   /* высота 100% */
}

/* стили для счёта */
#container #score {
  position: absolute;   /* позволяет элементу смещаться */
  top: 20px;            /* отступ сверху 20 пикселей */
  width: 100%;          /* ширина 100% */
  text-align: center;   /* выравнивание текста по середине окна браузера */
  font-size: 10vh;      /* размер текста 10% от размера окна браузера */
  transition: transform 0.5s ease;      /* позволяет плавно трансформировать счёт; длительность 0,5 сек; ease - это временная функция, чтобы было плавное изменение */
  color: #333344;     /* цвет текста */
  transform: translatey(-200px) scale(1);   /* свойство, позволяющее переворачивать, масштабировать, искажать элемент (в нашем случае перемещение на ось Y и масштабирование = 1) */
}

/* стили для игры */
#container #game {
  position: absolute;   /* позволяет элементу смещаться */
  top: 0;               /* отступ сверху 0 */
  right: 0;             /* отступ справа 0 */
  bottom: 0;            /* отступ снизу 0 */
  left: 0;              /* отступ слева 0 */
}

/* стили для класса "игра окончена" */
#container .game-over {
  position: absolute;     /* позволяет элементу смещаться */
  top: 0;                 /* отступ сверху 0 */
  left: 0;                /* отступ слева 0 */
  width: 100%;            /* ширина 100% */
  height: 85%;            /* высота 85% */
  display: flex;          /* flex-контейнер. Элементы, вложенные в него, подчиняются следующим свойствам: */
  flex-direction: column; /* направление (как будут расположены блоки) - столбец */
  align-items: center;    /* выравнивание по оси Y по середине экрана */
  justify-content: center;  /* выравнивание по оси X по середине экрана */
}

/* стили для всех блоков, вложенных в класс "игра окончена" */
#container .game-over * {
  transition: opacity 0.5s ease, transform 0.5s ease;   /* плавно непрозрачно трансформируем элемент, длительности изменений 0.5 сек */
  opacity: 0;       /* непрозрачность = 0 - белый лист */
  transform: translatey(-50px);     /* перемещение на ось Y */
  color: #333344;   /* цвет */
}

/* стили для заголовка h2 */
#container .game-over h2 {
  margin: 0;      /* внешний отступ со всех сторон равен 0 */
  padding: 0;     /* внутренний отступ со всех сторон равен 0 */
  font-size: 40px;    /* размер текста в заголовке 40 пикселей */
}

/* стили для класса "игра готова" */
#container .game-ready {
  position: absolute;   /* позволяет элементу смещаться */
  top: 0;               /* отступ сверху 0 */
  left: 0;              /* отступ слева 0 */
  width: 100%;          /* ширина 100% */
  height: 100%;         /* высота 100% */
  display: flex;        /* flex-контейнер. Элементы, вложенные в него, подчиняются следующим свойствам: */
  flex-direction: column;   /* направление (как будут расположены блоки) - столбец */
  align-items: center;      /* выравнивание по оси Y по середине экрана */
  justify-content: space-around;    /* выравнивание по оси X с отступами между элементами контейнера */
}

/* стили для кнопки старта*/
#container .game-ready #start-button {
  transition: opacity 0.5s ease, transform 0.5s ease;     /* плавно непрозрачно трансформируем элемент, длительности изменений 0.5 сек */
  opacity: 0;         /* непрозрачность = 0 - белый лист */
  transform: translatey(-50px);   /* перемещение на ось Y */
  border: 3px solid #333344;    /* рамка, толщина 3 пикселя и цвет */
  padding: 10px 20px;             /* внутренний отступ: сверху и снизу 10 пикселей, справа и слева 20 пикселей */
  background-color: transparent;  /* цвет фона прозрачный */
  color: #333344;               /* цвет текста */      
  font-size: 30px;                /* размер текста 30 пикселей */
}

/* стили для инструкции*/
#container #instructions {
  position: absolute;     /* позволяет элементу смещаться */
  width: 100%;            /* ширина 100% */
  top: 16vh;              /* отступ сверху 16% от высоты экрана */
  left: 0;                /* отступ слева 0 */
  text-align: center;     /* выравнивание текста по центру */
  transition: opacity 0.5s ease, transform 0.5s ease;     /* плавно непрозрачно трансформируем элемент, длительности изменений 0.5 сек */
  opacity: 0;             /* непрозрачность = 0 - белый лист */
}

/* стили для класса hide (спрятать), вложенном в инструкции */
#container #instructions.hide {
  opacity: 0 !important;    /* непрозрачность = 0 - белый лист. Это свойство НЕважное (обычное) */
}

/* стили для счёта, вложенного в playing (играющего); стили для счёта, вложенного в resetting (сброс настроек) */
#container.playing #score, #container.resetting #score {
  transform: translatey(0px) scale(1);    /* перемещение на ось Y, масштабирование = 1 */
}

/* стили для инструкций */
#container.playing #instructions {
  opacity: 1;   /* непрозрачность = 1 - теперь виден текст */
}

/* стили для кнопки старта */
#container.ready .game-ready #start-button {
  opacity: 1;     /* непрозрачность = 1 - теперь виден текст */
  transform: translatey(0);   /* перемещение на ось Y */
}

/* стили для счёта, вложенного в класс ended (законченный) */
#container.ended #score {
  transform: translatey(6vh) scale(1.5);  /* перемещение на ось Y и масштабирование = 1,5 */
}

/* стили для всех вложенных блоков в классе "игра окончена" */
#container.ended .game-over * {
  opacity: 1;         /* непрозрачность = 1 - теперь виден текст */
  transform: translatey(0);   /* перемещение на ось Y */
}

/* стили для тега p, вложенного в класс "игра окончена" */
#container.ended .game-over p {
  transition-delay: 0.3s;   /* задержка 0.3 сек */
}